@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family:"Nunito";
  background-color:darkgrey
}

.tudo {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Estudantes Professores Professores"
    "Estudantes Horario Horario"
    "Estudantes Horario Horario";
}

.Estudantes { grid-area: Estudantes; }
.Professores { grid-area: Professores; }
.Horario { grid-area: Horario; }